<!DOCTYPE html>
<html>
<head>
  <title>Siftscience</title>
  <style type="text/css">
    body {
      width: 940px;
      margin: 0 auto;
    }
  </style>
</head>
<body>

<%= yield %>

</body>
</html>
